<div class="my-4">
  <mat-tab-group backgroundColor="primary" color="accent">
    <!-- ----------------------------------------Tab1---------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>account_box</mat-icon>&nbsp; Personal Information
      </ng-template>
      <!-- -------------------form 1------------------------------------- -->
      <div>
        <form>
          <div class="container-fluid my-5">
            <div class="row ">
              <div class="col-12 col-md-6 col-lg-3">
                <div style="text-align: left;margin-bottom: 20px; font-size: large;">
                  <h2 style="color: #35296D;"> <i class="fa-solid fa-circle-user"></i>&nbsp; Your Account Picture:
                    <mat-divider ></mat-divider>
                  </h2>
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="col-12 col-md-6 col-lg-3">
                <div class="mx-5">
                  <app-profile-pic></app-profile-pic>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="row ">
              <div class="col-12 col-md-6 col-lg-3">
                <div style="text-align: left;margin-bottom: 20px; font-size: large;">
                  <h2 style="color: #35296D;"> <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; Your
                    information:
                    <mat-divider ></mat-divider>
                  </h2>
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Phone</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
              </div>
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>location_on</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <mat-form-field appearance="fill">
                  <mat-label>Birth date</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <mat-form-field appearance="fill" style="width: 250px;">
                    <mat-label><b>
                        <mat-icon>person_search</mat-icon> Gender
                      </b></mat-label>
                    <mat-select>
                      <mat-option value="primary"><i class="fa fa-male" aria-hidden="true"></i> Male</mat-option>
                      <mat-option value="accent"><i class="fa fa-female" aria-hidden="true"></i> Female</mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>
              </div>
              <div class="row justify-content-center  align-items-start g-2 ">
                <div class="col-12 col-md-6 col-lg-3">
                  <p>
                    <button mat-fab extended color="accent">
                      <mat-icon>change_circle</mat-icon>
                      Save Changes
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
    <!-- ----------------------------------------Tab2---------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>verified_user</mat-icon>&nbsp; Borrowing Verification
      </ng-template>
      <!-- -------------------form 2------------------------------------- -->
      <div>
        <form>
          <div class="container-fluid my-5">
            <div class="row ">
              <div class="col-12 col-md-6 col-lg-3">
                <div style="text-align: left;margin-bottom: 20px; font-size: large;">
                  <h2 style="color: #35296D;">
                    <mat-icon>verified_user</mat-icon>&nbsp; Borrowing
                    Verification:
                    <mat-divider ></mat-divider>
                  </h2>
                </div>
              </div>
            </div>
            <div class="row justify-content-center align-items-center g-2">
              <div class="col-12  col-lg-6" >
                <mat-form-field style="width: 350px;">
                  <div>
                    <mat-toolbar>
                      <!-- Display files names -->
                      <input matInput [(ngModel)]="fileAttr" readonly name="name"  />
                      <!-- Browse Button -->
                      <button mat-fab extended color="primary"><mat-icon>upload</mat-icon>Upload</button>
                    </mat-toolbar>
                    <!-- Fetch selected filed on change -->
                    <input
                      type="file"
                      #fileInput
                      id="uploadFile"
                      (change)="uploadFileEvt($event)"
                      name="uploadFile"
                      multiple="multiple"
                      accept="image/*"
                    />
                  </div>
                </mat-form-field>
              </div>
              <div class="col-12  col-lg-6" >
                <mat-form-field style="width: 350px;">
                  <div>
                    <mat-toolbar>
                      <!-- Display files names -->
                      <input matInput [(ngModel)]="fileAttr2" readonly name="name2"  />
                      <!-- Browse Button -->
                      <button mat-fab extended color="primary"><mat-icon>upload</mat-icon>Upload</button>
                    </mat-toolbar>
                    <!-- Fetch selected filed on change -->
                    <input
                      type="file"
                      #fileInput2
                      id="uploadFile"
                      (change)="uploadFileEvt2($event)"
                      name="uploadFile"
                      multiple="multiple"
                      accept="image/*"
                    />
                  </div>
                </mat-form-field>
              </div>
              <div class="row justify-content-center align-items-center g-2">
                <div class="col-12 col-md-6 col-lg-3">
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>License Number</mat-label>
                      <input matInput placeholder="Placeholder">
                      <mat-icon matSuffix>fact_check</mat-icon>
                      <mat-hint>Hint</mat-hint>
                    </mat-form-field>
                  </p>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Birth date</mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <mat-form-field appearance="fill">
                    <mat-label>Expiration Date</mat-label>
                    <input matInput [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center  align-items-start g-2 ">
                <div class="col-12 col-md-6 col-lg-3">
                  <p>
                    <button mat-fab extended color="accent">
                      <mat-icon>verified_user</mat-icon>&nbsp;
                      Verify&nbsp;&nbsp;&nbsp;
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
    <!-- ----------------------------------------Tab3---------------------------------------------------------- -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>&nbsp; Account Settings
      </ng-template>
      <!-- -------------------form 3------------------------------------- -->
      <div>
        <form>
          <div class="container-fluid my-5">
            <div class="row ">
              <div class="col-12 col-md-6 col-lg-3">
                <div style="text-align: left;margin-bottom: 20px; font-size: large;">
                  <h2 style="color: #35296D;"> <i class="fa-solid fa-envelope"></i>&nbsp; Change Email:
                    <mat-divider ></mat-divider>
                  </h2>
                </div>
              </div>
            </div>
            <div class="row justify-content-center  align-items-start g-2 ">
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>New Email</mat-label>
                    <input matInput placeholder="Placeholder">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
                </p>
              </div>
            </div>
            <br>
            <br>
            <div class="row justify-content-center  align-items-start g-2 ">
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Current Password</mat-label>
                    <input matInput [type]="hide1 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide1">
                      <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </p>
              </div>
            </div>
            <div class="row justify-content-center  align-items-start g-2 ">
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <button mat-fab extended color="accent">
                    <mat-icon>change_circle</mat-icon>
                    Change Email
                  </button>
                </p>
              </div>
            </div>
            <div class="row ">
              <div class="col-12 col-md-6 col-lg-3">
                <div style="text-align: left;margin-bottom: 20px; font-size: large;">
                  <h2 style="color: #35296D;"><i class="fa fa-key" aria-hidden="true"></i>&nbsp; Change Password:
                    <mat-divider ></mat-divider>
                  </h2>
                </div>
              </div>
            </div>
            <div class="row justify-content-center  align-items-start g-2 ">
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Current Password</mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide2">
                      <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </p>
              </div>
              <div class="row justify-content-center  align-items-start g-2 ">
                <div class="col-12 col-md-6 col-lg-3">
                  <p>
                    <mat-form-field appearance="fill">
                      <mat-label>New password</mat-label>
                      <input matInput [type]="hide3 ? 'password' : 'text'">
                      <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide3">
                        <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>
                  </p>
                </div>
              </div>
            </div>
            <div class="row justify-content-center  align-items-start g-2 ">
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Confirm password</mat-label>
                    <input matInput [type]="hide4 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide4 = !hide4" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide4">
                      <mat-icon>{{hide4 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </p>
              </div>
            </div>
            <div class="row justify-content-center  align-items-start g-2 ">
              <div class="col-12 col-md-6 col-lg-3">
                <p>
                  <button mat-fab extended color="accent">
                    <mat-icon>change_circle</mat-icon>
                    Change Password
                  </button>
                </p>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
