<div class="container-fluid my-4 ">
  <div class="row">
    <div class="col-3 m-3 shadow p-3 mb-5  bg-white rounded ">
      <button mat-fab extended color="accent" class="my-2 px-4">
        <mat-icon>account_box</mat-icon>
        Personal Information
      </button>
      <button mat-fab extended color="accent" class="my-2 px-4 ">
        <mat-icon>verified_user</mat-icon>
        Borrowing Verification
      </button>
    </div>
    <div class="col-8  shadow p-3 mb-5  bg-white rounded ">

        <!-- <mat-form-field appearance="fill">
          <mat-label>Fill form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>verified_user</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field> -->

    </div>
  </div>
</div>
