<!-- <div class="search-nav">


  <div>
    <mat-form-field appearance="fill" class="searchByLocation">
      <mat-label><i class="fa-solid fa-location-dot"></i> Location</mat-label>
      <mat-select (change)= myF>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>



  <mat-form-field appearance="fill">
    <mat-label><i class="fa-solid fa-car-side"></i> Brand</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

      <div class="startDateSearch d-inline-block">
        <input [matDatepicker]="picker" placeholder="MM/DD/YYYY" class="startDateSearchInput" placeholder="StartDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker" class="startDateSearchButton"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>

      <div class="endDateSearch">
        <input [matDatepicker]="picker" placeholder="MM/DD/YYYY" class="endDateSearchInput" placeholder="EndDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker" class="endDateSearchButton"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>

  </div>


<button class="searchCarBtn"> <i class="fa-solid fa-magnifying-glass"></i> SEARCH </button>

</div> -->
