.watsapp_api{
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.watsapp_api svg{
  font-size: 3.5em;
}
@media (max-width:700px) {
  .watsapp_api{
    bottom: 5px;
    right: 5px;
  }
  .watsapp_api svg{
    font-size: 3em;
  }
}
