<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LandPage</title>
</head>
<body>
  <router-outlet></router-outlet>
  <app-car-cards></app-car-cards>
<div class="text-center mt-5 watsapp_api" >
  <a href="https://api.whatsapp.com/send/?phone=201068321388&text&type=phone_number&app_absent=0"target="_blank">
    <i class="fa-brands fa-whatsapp  text-success"></i>
  </a>
</div>
</body>
</html>

