.watsapp_api{
  position: fixed;
  bottom: 15px;
  right: 15px;
}
.watsapp_api svg{
  font-size: 3.5em;
}
@media (max-width:700px) {
  .watsapp_api{
    bottom: 5px;
    right: 5px;
  }
  .watsapp_api svg{
    font-size: 3em;
  }
}


.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.body{
  padding-top: 64px;
}
@media (max-width:599px) {
  .body{
    padding-top: 56px;
  }
}
