<!-- <app-nav-car></app-nav-car> -->
<div class="search-nav">


  <div>
    <mat-form-field appearance="fill" class="searchByLocation">
      <mat-label><i class="fa-solid fa-location-dot"></i> Location</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field appearance="fill">
      <mat-label><i class="fa-solid fa-car-side"></i> Brand</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="startDateSearch d-inline-block">
      <input [matDatepicker]="picker" placeholder="MM/DD/YYYY" class="startDateSearchInput" placeholder="StartDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker" class="startDateSearchButton"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>

    <!-- <div class="endDateSearch">
        <input [matDatepicker]="picker" placeholder="MM/DD/YYYY" class="endDateSearchInput" placeholder="EndDate">
        <mat-datepicker-toggle matIconSuffix [for]="picker" class="endDateSearchButton"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div> -->

  </div>


  <button class="searchCarBtn"> <i class="fa-solid fa-magnifying-glass"></i> SEARCH </button>

</div>


<main>

  <div class="container-fluid">
    <div class="row">
      <aside class="col-sm-12 col-md-3">
        <div class="filterList">
          <h2 class="text-center"><i class="fa-solid fa-bars-staggered"></i> Search Filters </h2>


          <hr class="filter_hr">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Search Type
                </mat-panel-title>
              </mat-expansion-panel-header>
              <hr>
              <mat-checkbox color="warn" class="example-margin">Available Cars Only</mat-checkbox>
              <hr>
              <mat-checkbox color="warn" class="example-margin">Cars in your location only</mat-checkbox>
              <br>
              <mat-checkbox color="warn" class="example-margin">Cars in other locations</mat-checkbox>
              <br> <br>
              <span>Price Per Day</span>
              <mat-slider min="250" max="3000" step="250" showTickMarks discrete [displayWith]="PricePerDaySearch"
                color="warn">
                <input matSliderThumb>
              </mat-slider>
              <hr>
            </mat-expansion-panel>
          </mat-accordion>

          <hr>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Make and Model
                </mat-panel-title>
              </mat-expansion-panel-header>
              <br>Make:<br>
              <mat-form-field appearance="fill" color="warn">
                <mat-label>All</mat-label>
                <mat-select>
                  <mat-option>All</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
              </mat-form-field>

              <br>Model:<br>
              <mat-form-field appearance="fill" color="warn">
                <mat-label>All</mat-label>
                <mat-select>
                  <mat-option>All</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
              </mat-form-field>
              <br><br>
              <span>Year Model</span>
              <mat-slider min="2010" max="2024" step="1" showTickMarks discrete [displayWith]="yearModelSearch"
                color="warn">
                <input matSliderThumb>
              </mat-slider>

            </mat-expansion-panel>
          </mat-accordion>


          <hr>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Specifications
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-checkbox color="warn" class="example-margin">Automatic Gearbox</mat-checkbox>
              <mat-checkbox color="warn" class="example-margin">Manual Gearbox</mat-checkbox>

              <br>Car type:<br>
              <mat-form-field appearance="fill" color="warn">
                <mat-label>All</mat-label>
                <mat-select>
                  <mat-option>All</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
              </mat-form-field>

              <br>Color<br>
              <mat-form-field appearance="fill" color="warn">
                <mat-label>All</mat-label>
                <mat-select>
                  <mat-option>All</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                </mat-select>
              </mat-form-field>

            </mat-expansion-panel>
          </mat-accordion>

        </div>
      </aside>

      <div class="col-sm-12 col-md-9">
        <div class="searchResult">
          <div class="row">
            <div class="col-3">
              <p><span class="NumberOfAvailableCarsOnly">{{NumberOfAvailableCarsOnly}}</span> Cars Availabe Now</p>
            </div>
            <div class="col">
              <h2 class="text-black-50">RENT A CAR WITH BEST PRICE IN EGYPT</h2>
            </div>
            <div class="col-3"></div>
          </div>

          <div class="CarsCards">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                  <div class="car_card">
                    <div class="carImgBox">
                      <img src="../../../assets/car.jpg" alt="" height="200">
                      <p class="CarPricePerDay"> {{CarPricePerDay}} LE<span>Price Per Day</span></p>
                    </div>
                    <div class="OwnerInfo">
                      <img src="../../../assets/user1.png" class="rounded-circle" alt="" width="50">
                      <span>{{OwnerName}}</span>
                    </div>
                    <div class="CarInfo">
                      <span>{{CarModel}} - {{CarBrand}}</span>
                      <span>{{CarYear}}</span>
                      <span>stars {{CarRating}}</span>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                  <div class="car_card">
                    <div class="carImgBox">
                      <img src="../../../assets/car.jpg" alt="" height="200">
                      <p class="CarPricePerDay"> {{CarPricePerDay}} LE<span>Price Per Day</span></p>
                    </div>
                    <div class="OwnerInfo">
                      <img src="../../../assets/user1.png" class="rounded-circle" alt="" width="50">
                      <span>{{OwnerName}}</span>
                    </div>
                    <div class="CarInfo">
                      <span>{{CarModel}} - {{CarBrand}}</span>
                      <span>{{CarYear}}</span>
                      <span>stars {{CarRating}}</span>
                    </div>
                  </div>
                </a>
              </div>


              <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                  <div class="car_card">
                    <div class="carImgBox">
                      <img src="../../../assets/car.jpg" alt="" height="200">
                      <p class="CarPricePerDay"> {{CarPricePerDay}} LE<span>Price Per Day</span></p>
                    </div>
                    <div class="OwnerInfo">
                      <img src="../../../assets/user1.png" class="rounded-circle" alt="" width="50">
                      <span>{{OwnerName}}</span>
                    </div>
                    <div class="CarInfo">
                      <span>{{CarModel}} - {{CarBrand}}</span>
                      <span>{{CarYear}}</span>
                      <span>stars {{CarRating}}</span>
                    </div>
                  </div>
                </a>
              </div>


              <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                  <div class="car_card">
                    <div class="carImgBox">
                      <img src="../../../assets/car.jpg" alt="" height="200">
                      <p class="CarPricePerDay"> {{CarPricePerDay}} LE<span>Price Per Day</span></p>
                    </div>
                    <div class="OwnerInfo">
                      <img src="../../../assets/user1.png" class="rounded-circle" alt="" width="50">
                      <span>{{OwnerName}}</span>
                    </div>
                    <div class="CarInfo">
                      <span>{{CarModel}} - {{CarBrand}}</span>
                      <span>{{CarYear}}</span>
                      <span>stars {{CarRating}}</span>
                    </div>
                  </div>
                </a>
              </div>


              <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                  <div class="car_card">
                    <div class="carImgBox">
                      <img src="../../../assets/car.jpg" alt="" height="200">
                      <p class="CarPricePerDay"> {{CarPricePerDay}} LE<span>Price Per Day</span></p>
                    </div>
                    <div class="OwnerInfo">
                      <img src="../../../assets/user1.png" class="rounded-circle" alt="" width="50">
                      <span>{{OwnerName}}</span>
                    </div>
                    <div class="CarInfo">
                      <span>{{CarModel}} - {{CarBrand}}</span>
                      <span>{{CarYear}}</span>
                      <span>stars {{CarRating}}</span>
                    </div>
                  </div>
                </a>
              </div>


              <div class="col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                  <div class="car_card">
                    <div class="carImgBox">
                      <img src="../../../assets/car.jpg" alt="" height="200">
                      <p class="CarPricePerDay"> {{CarPricePerDay}} LE<span>Price Per Day</span></p>
                    </div>
                    <div class="OwnerInfo">
                      <img src="../../../assets/user1.png" class="rounded-circle" alt="" width="50">
                      <span>{{OwnerName}}</span>
                    </div>
                    <div class="CarInfo">
                      <span>{{CarModel}} - {{CarBrand}}</span>
                      <span>{{CarYear}}</span>
                      <div class="row">
                        <div class="col"><app-star class="stars" [rating]="CarRating"></app-star></div>
                        <div class="col">( {{CarRating}} )</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>

            </div>

          </div>
        </div>

        <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
              (page) = "OnPageChanges($event)"
        </mat-paginator>
      </div>


    </div>
  </div>



</main>
