<div class="container-fluid my-5 ">
    <div class="shadow-box" style="padding: 50px;">
      <h2>YOU DON'T HAVE ANY LISTED CAR</h2><br>
      <p>
        <button mat-fab extended color="accent">
          List Your Car Now !
        </button>
      </p>
      <div class="container-fluid my-5">
        <div class="row ">
          <div class="col-12 col-md-6 col-lg-3" style="text-align: right;">
            <img src="assets/car4.jpg" alt="CarImg" style="height: 200px;width: 100%;">
          </div>
          <div class="col-12 col-md-6 col-lg-3" style="text-align: left;">
            <h2 style="color:#35296D;">Car Name And Model</h2>
            <mat-divider></mat-divider>
            Car Description<br>
          </div>
          <div class="col-12 col-md-6 col-lg-3" style="text-align: center;">
            <h3>Add Date</h3>
            <br>
            <br>
            <br>
            <br>
            <p>
              <button mat-fab extended color="accent">
                <mat-icon>mode_edit</mat-icon>
                Edit On Car
              </button>
            </p>
          </div>
        </div>
      </div>
      <mat-divider class="Row_divider"></mat-divider>
    </div>
  </div>

