


<a href="https://dashboard.stripe.com/test/logs?created%5Bpreset%5D=1H&success=true&dashboard=false&direction%5B0%5D=self&direction%5B1%5D=connect_out&showIP=false" target="popup" onclick="window.open('https://dashboard.stripe.com/test/logs?created%5Bpreset%5D=1H&success=true&dashboard=false&direction%5B0%5D=self&direction%5B1%5D=connect_out&showIP=false&created[preset]=1H&success=true&method[0]=post','name','width=600,height=400')">Open page in new window</a>

<h1> Admin <i class="fa fa-dashboard" aria-hidden="true"></i> </h1>

<h3 class="text-center">All Cars</h3>
<table class="table table-light">
  <thead>
    <tr>
        <th>Car VIN</th>
        <th>Owner NID</th>
        <th>Owner Phone</th>
        <th> Is Available </th>
        <th>Cost Per Day</th>
    </tr>

  </thead>

  <tbody>
    <tr *ngFor=" let car of AllCars" >
      <td>{{car.vin}}</td>
      <td>{{car.ownerId}}</td>
      <td>{{car.ownerPhone}}</td>
      <td>{{car.available}}</td>
      <td>{{car.costPerDay}}</td>


    </tr>
  </tbody>
</table>


<h3 class="text-center">All Available Cars</h3>
<table class="table table-light">
  <thead>
    <tr>
        <th>Car VIN</th>
        <th>Owner NID</th>
        <th>Owner Phone</th>
        <th> Is Available </th>
        <th>Cost Per Day</th>
    </tr>

  </thead>

  <tbody>
    <tr *ngFor=" let car of AllCars" >
      <ng-container *ngIf="car.available==false">
        <td>{{car.vin}}</td>
        <td>{{car.ownerId}}</td>
        <td>{{car.ownerPhone}}</td>
        <td>{{car.available}}</td>
        <td>{{car.costPerDay}}</td>
      </ng-container>

    </tr>
  </tbody>
</table>
