<div class="my-4">
<mat-tab-group backgroundColor="primary" color="accent">



  <mat-tab>
    <ng-template mat-tab-label>
      ALL REQUESTS
    </ng-template>
    <div class="container-fluid my-5">
      <div  *ngFor="let req of OnwerRequests" class="row mt-5">
        <hr>
        <div class="col-12 col-md-6 col-lg-3" style="text-align: right;">
          <img src="assets/{{req.carImage}}" alt="CarImg" class="rounded" width="250" height="250">
        </div>
        <div class="col-12 col-md-6 col-lg-3" style="text-align: left;">
          <h2 style="color:#35296D;">{{req.carBrand}} - {{req.carYear}} / <span style="color:#ff4081;">For: {{req.rentDays}} Days</span><br>
          </h2>
          <mat-divider></mat-divider>

          <div class="text-center">
              <img src="assets/{{req.borrowerImage}}" alt="" class="rounded-circle mt-3" height="60" width="60"><br>

              <p class="text-black-50">Borrower Name: {{req.borrowerName}}</p>
              <p class="text-black-50">Borrower Location: {{req.borrowerAddress}}</p>
          </div>

          <hr>
          <div class="text-center">
          <button class="btn btn-danger me-2"><i class="fa-solid fa-xmark"></i> Not Agree </button>
          <button class="btn btn-success"><i class="fa-solid fa-check"></i> Agree  </button>
          </div>

        </div>
      </div>
    </div>
    <mat-divider class="Row_divider"></mat-divider>
  </mat-tab>






  <mat-tab>
    <ng-template mat-tab-label>
      CONFIRMED REQUESTS
    </ng-template>
    <div class="container-fluid my-5">
      <div class="row " *ngFor="let req of ConfirmedRequests">
        <div class="col-12 col-md-6 col-lg-3" style="text-align: right;">
          <img src="assets/car4.jpg" alt="CarImg" style="height: 200px;width: 100%;">
        </div>
        <div class="col-12 col-md-6 col-lg-3" style="text-align: left;">
          <h2 style="color:#35296D;">Car Name And Model</h2>
          <mat-divider></mat-divider>
          location of car<br>
          <span style="color:#ff4081;">From</span><br>
          <span>StartDate</span><br>
          <span style="color:#ff4081;">TO</span><br>
          <span>EndDate</span>
        </div>
        <div class="col-12 col-md-6 col-lg-3" style="text-align: center;">
          <h3>Order Date</h3>
          <br>
          <br>
          <br>
          <br>
          <p>
          </p>
        </div>
      </div>
    </div>
    <mat-divider class="Row_divider"></mat-divider>
  </mat-tab>
</mat-tab-group>
</div>

