<div class="my-4">
  <mat-tab-group backgroundColor="primary" color="accent">
    <mat-tab>
      <ng-template mat-tab-label>
        ALL BORROWINGS
      </ng-template>
      <div class="container-fluid my-5">
        <div class="row ">
          <div class="col-12 col-md-6 col-lg-3" style="text-align: right;">
            <img src="assets/car4.jpg" alt="CarImg" style="height: 200px;width: 100%;">
          </div>
          <div class="col-12 col-md-6 col-lg-3" style="text-align: left;">
            <h2 style="color:#35296D;">Car Name And Model</h2>
            <mat-divider></mat-divider>
            location of car<br>
            <span style="color:#ff4081;">From</span><br>
            <span>StartDate</span><br>
            <span style="color:#ff4081;">TO</span><br>
            <span>EndDate</span>
          </div>
          <div class="col-12 col-md-6 col-lg-3" style="text-align: center;">
            <h3>Order Date</h3>
            <br>
            <br>
            <br>
            <br>
            <p>
              <button mat-fab extended color="accent">
                <mat-icon>highlight_off</mat-icon>
                Cancel
              </button>
            </p>
          </div>
        </div>
      </div>
      <mat-divider class="Row_divider"></mat-divider>



    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        CONFIRMED BORROWINGS
      </ng-template>

      <div class="container-fluid my-5">
        <div class="row ">
          <div class="col-12 col-md-6 col-lg-3" style="text-align: right;">
            <img src="assets/car4.jpg" alt="CarImg" style="height: 200px;width: 100%;">
          </div>
          <div class="col-12 col-md-6 col-lg-3" style="text-align: left;">
            <h2 style="color:#35296D;">Car Name And Model</h2>
            <mat-divider></mat-divider>
            location of car<br>
            <span style="color:#ff4081;">From</span><br>
            <span>StartDate</span><br>
            <span style="color:#ff4081;">TO</span><br>
            <span>EndDate</span>
          </div>
          <div class="col-12 col-md-6 col-lg-3" style="text-align: center;">
            <h3>Order Date</h3>
            <br>
            <br>
            <br>
            <br>
            <p>
              <button mat-fab extended color="accent">
                <mat-icon>highlight_off</mat-icon>
                Cancel
              </button>
            </p>
          </div>
        </div>
      </div>
      <mat-divider class="Row_divider"></mat-divider>

    </mat-tab>
  </mat-tab-group>
</div>
